<div class="text-center py-5 bg-dark">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSe3P0kblOsEwCuYad96ZogaEKTa71w6p6o5jJzkie7JRvgygw/viewform?usp=sf_link"
    width="500"
    height="850"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  >
  </iframe>

  <!-- 
    onload="document.getElementById('spinner').style.display='none';"
    <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8" id="spinner">
      <list-content-loader></list-content-loader>
    </div>
  </div> -->
</div>
