<div class="text-center py-5 bg-dark">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScRn_hmVoI23QAnAaCwC3jFGQPs2gz8Y-R7pQqJT2D-dNxOGQ/viewform?embedded=true"
    width="500" height="850" frameborder="0" marginheight="0" marginwidth="0"
    onload="document.getElementById('spinner').style.display='none';">
  </iframe>

  <!-- <div class="row justify-content-center">
    <div class="col-md-6 col-sm-8" id="spinner">
      <list-content-loader></list-content-loader>
    </div>
  </div> -->
</div>
