
// ionic colors
$primary: #3880ff;
$secondary: #0cd1e8;
$tertiary: rgb(227, 202, 171); //#7044ff;

$success: #10dc60;
$warning: #ffce00;
$danger: #f04141;

$dark: #222428;
$medium: #989aa2;
$light: #f4f5f8;

// fns - color(), dark(), color-ypi()
$theme-colors: (
  "primary": #3880ff,
  "secondary": $secondary,
  "tertiary": $tertiary,

  "success": #10dc60,
  "warning": #ffce00,
  "danger": #f04141,

  "dark": #222428,
  "medium": #989aa2,
  "light": #f4f5f8,
);

