<nav class="navbar navbar-expand-md sticky-top navbar-light justify-content-between">

  <div class="container">
    <a routerLink="/" class="navbar-brand text-medium">Inspire Me</a>

    <!-- <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" *ngIf="user">
        <li class="navbar-text">
          Hi
        </li>
        <li class="nav-item">
          <a (click)="testSendNotificationHttp()" class="nav-link">Notify Me</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto no-select" *ngIf="!user">
        <li class="nav-item">
          <a (click)="loginGoogle()" class="nav-link">Login</a>
        </li>
      </ul>
    </div> -->
  </div>

</nav>


<router-outlet class="container-fluid p-0"></router-outlet>




<!-- <div class="collapse navbar-collapse" [ngClass]="{'show' : !isCollapsed}">
        <ul class="navbar-nav mr-auto"></ul>

        <ul *ngIf="!user" class="navbar-nav ml-auto no-select">
          <li class="nav-item">
            <a routerLink="/nominate" class="nav-link">Nominate</a>
          </li>
        </ul>
    </div> -->

<!--
<footer class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-12 col-md">
      <h3>Inspire Me</h3>
      <small class="d-block mb-3 text-muted">©2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
      </ul>
    </div>
  </div>
</footer> -->
