// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
// @import url("//fonts.googleapis.com/css?family=Open+Sans:300,400|Comfortaa:300,500,700");

@import './theme/variables.scss';
@import './theme/photos.scss';
@import './theme/bootstrap-customizations.scss';
@import '../node_modules/bootstrap/scss/bootstrap';


h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

small {
  font-weight: 300;
  color: $medium;
}

a:hover{
  cursor: pointer;
}

