<div class="landing-img text-center position-relative overflow-hidden">

  <div class="col-md-8 p-md-5 p-lg-5 mx-auto my-3">
    <h1 class="display-1 text-medium">Inspire Me</h1>
    <h2 class="text-secondary mb-5">Men of Melbourne</h2>

    <a class="btn btn-secondary text-light btn-lg" [routerLink]="['/nominate']"
      routerLinkActive="router-link-active">Nominate a friend</a>
  </div>

</div>

<div class="container py-5">

  <div class="row justify-content-center">
    <div class="col-lg-9 col-md-12">

      <div class="card">
        <div class="card-body p-4">
          <blockquote class="blockquote text-center">
            <h3>It always seems impossible until it's done.</h3>
            <footer class="blockquote-footer"><cite title="Source Title">Marthese Agius</cite></footer>
          </blockquote>
        </div>
      </div>

    </div>
  </div>

</div>
